<section>
  <h2>
    <%=  @category.category_type.capitalize %>
  </h2>


  <% @items_in_category.each do |item| %>
    <p>
      <img src= "<%= item.image %>" class="img-thumbnail item_show"  alt="<%= item.name %><%= item.description %>">
      <%= item.name %>: <%= item.description %>
    </p>


  <% end %>
</section>
