<h2><%= @item.name %></h2>

<img src= <%= @item.image %> class="img-thumbnail, item_show" ><br>


Category: <%= @item_category %></br>
Price: <%= '%.2f' % @item.price %></br>
Rating: <%= @item.avg_rating %><br>
Description:<%= @item.description %><br>
Quantity Avaliable: <%= @item.quantity_available %>
<li><%=link_to "Leave a Review", new_review_path%></li>


<% if @order.order_items.find_by(item_id: @item.id).nil? %>

  <%= form_with model: @order_item, method: :post, :url => item_order_items_path(@item.id) do |f| %>

  <%= f.label "Quantity:" %>
  <%= f.select :quantity_per_item, @item.return_quantity_selection %>

  <%= f.submit "Add to Cart" %>

  <% end %>

  <% else %>

  <%= form_with model: @order_item, method: :patch, :url => item_increment_quantity_path(@item.id) do |f| %>

  <%= f.label "Quantity:" %>
  <%= f.select :quantity_per_item, @item.return_quantity_selection %>

  <%= f.submit "Add to Cart" %>


  <% end %>


<% end %>
