<h2> Product Details</h2>
<%= @item.image %><br>

Item name: <%= @item.name %><br>
Category: <%= @item_category %></br>
Price: <%= @item.price.to_f %></br>
Rating: <%= @item.avg_rating %><br>
Description:<%= @item.description %><br>



<% if @order.order_items.find_by(item_id: @item.id).nil? %>


  <%= form_with model: @order_item, method: :post, :url => item_order_items_path(@item.id) do |f| %>

  <%= f.label "Quantity:" %>
  <%= f.text_field :quantity_per_item %>


  <%= f.submit "Add to Cart" %>
  <% end %>

<% else %>


  <%= form_with model: @order_item, method: :post, :url => item_order_items_path(@item.id) do |f| %>



  <%= f.label "Quantity:" %>
  <%= f.text_field :quantity_per_item %>


  <%= f.submit "Add to Cart" %>
  <% end %>

<% end %>
