<h2> Product Details</h2>
Item name: <%= @item.name %><br>
Category: <%= Category.find(@item.category_id).category_type %></br>
Price: <%= @item.price.to_f %></br>
<%= @item.image %>
<%= @item.avg_rating %>
<%= @item.description %>
