<h2> Product Details</h2>
Item name: <%= @item.name %><br>
Category: <%= @item.category_id %></br>
Price: <%= @item.price.to_f %></br>
<%= @item.image %>
<%= @item.avg_rating %>
<%= @item.description %>

<%= link_to "test", method: :post %>
