<h2> Product Details</h2>
Item name: <%= @item.name %><br>
Category: <%= @item_category %></br>
Price: <%= @item.price.to_f %></br>
<%= @item.image %>
<%= @item.avg_rating %>
<%= @item.description %>

<%= render partial: "form", locals: { action_name: "Add to Cart"} %>
