<h2> Product Details</h2>

 <img src= <%= @item.image %> class="img-thumbnail, item_display" alt="cat_mask" >
 <br>
 <br>
<%= @item.name %>
<%= @item.price %>
<%= @item.avg_rating %>
<%= @item.description %>
