<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mali|Quicksand" rel="stylesheet">
  </head>

  <body>
    <header>
      <section class = "top_of_page">
        <ul>
          <li>
            <a href="#"><i class="fas fa-lg fa-shopping-cart"></i></a>
          </li>

            <% if session[:user_id] %>
              <% current_user = User.find_by(id: session[:user_id]) %>
                <li><p>
                  Welcome, <%= current_user.nickname %>
                </li></p>
            <% end %>

          <% if session[:user_id] %>
            <li>
              <%= link_to "Log Out", logout_path, method: :post %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log In", "/auth/github" %>
            </li>
          <% end %>
        </ul>
      </section>

      <h1>Kawaii Travel Shop</h1>

      <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <% categories = Category.all %>
                <% categories.each do |category| %>
                  <a class="dropdown-item" href="#"><%= link_to "#{category.category_type}", category_path(category.id)%></a>
                <% end %>

              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchants
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <% @merchant_ids.each do |id| %>
                 <% merchant = User.find_by(id: id) %>
                 <a class="dropdown-item" href="#"><%= merchant.nickname %></a>
               <% end %>
             </div>
           </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <section class = "footer_left">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Careers</li>
        </ul>
      </section>

      <section class = "footer_right">
        <ul>
          <li>Customer Service</li>
          <li>Contact Us</li>
        </ul>
      </section>
    </footer>
  </body>
</html>
